/* General container styling */
.hair-color-container {
    text-align: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #fdf7f1;
  }
  
  /* Title and Subtitle */
  .hair-color-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .hair-color-subtitle {
    font-size: 16px;
    margin-bottom: 30px;
    color: gray
  }
  
  /* Color Option styling */
  .color-option {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
  }
  
  .color-box {
    padding: 20px;
    background-color: #f5e3d3;
    margin-right: 20px;
    text-align: left;
    width: 300px;
    border-radius: 8px;
  }
  
  .color-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .color-description {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  /* Book now button */
  .book-now-button {
    padding: 10px 20px;
    border: 1px solid #000;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
  }
  
  /* Color swatches */
  .color-swatches img {
    margin-right: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  
  /* Note button */
  .note-button {
    padding: 10px 20px;
    border: 1px solid #000;
    background-color: transparent;
    margin-top: 30px;
    cursor: pointer;
    font-size: 14px;
  }
   .warning {
    height: 500px;
   }

   .hair-care-container {
    text-align: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }
  
  .title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .subtitle {
    font-size: 14px;
    margin-bottom: 30px;
    color: gray
  }
  
  .tips-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    margin-bottom: 30px;
  }
  
  .tip {
    text-align: center;
    max-width: 300px;
  }
  
  .tip p {
    color: gray
  }

  .tip img {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
  }
  
  .schedule-button {
    padding: 10px 20px;
    border: 1px solid #000;
    background-color: transparent;
    cursor: pointer;
    font-size: 14px;
  }
  